---
cart:
    suggestions:
        limit: 3
---


{{inject 'cancelButtonText' (lang 'common.cancel')}}
{{#partial "page"}}
{{inject 'invalidEntryMessage' (lang 'cart.invalid_entry_message')}}
<div class="page">

    <div class="page-content" data-cart>
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        {{> components/cart/page-title}}

        {{> components/custom/cart-page-upsell }}

        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>

        {{#if cart.items.length}}
            <div class="loadingOverlay"></div>

            {{#unless theme_settings.its.custom_cart}}
                <div data-cart-content class="cart-content-padding-right">
                    {{> components/cart/content}}
                </div>

                <div data-cart-totals class="cart-content-padding-right">
                    {{> components/cart/totals}}
                </div>

                {{#if cart.show_primary_checkout_button}}
                    <div class="cart-actions cart-content-padding-right">
                        <a class="button button--primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">{{lang 'cart.checkout.button'}}</a>
                        {{#if cart.show_multiple_address_shipping}}
                            <a class="checkoutMultiple" href="{{urls.checkout.multiple_address}}">
                                {{lang 'cart.preview.checkout_multiple'}}
                            </a>
                        {{/if}}
                    </div>
                {{else}}
                    <div class="cart-actions cart-content-padding-right">
                        <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                    </div>
                {{/if}}

                <div data-cart-additional-checkout-buttons class="cart-additionalCheckoutButtons cart-content-padding-right">
                    {{> components/cart/additional-checkout-buttons}}
                </div>
            {{else}}
                {{> components/custom/cart/cart }}
            {{/unless}}
        {{else}}
            <h3 tabindex="0">{{lang 'cart.checkout.empty_cart'}}</h3>
            <a href="{{lang 'custom.cart.back-to-shopping.link'}}" tabindex="0">{{lang 'custom.cart.back-to-shopping.text'}}</a>
        {{/if}}

    </div>
</div>
{{/partial}}
{{> layout/base container_active=true}}
