---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{inject "productList" category.products}}

{{#if (getVar 'UUIDcounter')}}
    {{assignVar 'UUIDcounter' (add (getVar 'UUIDcounter') 1)}}
    {{assignVar 'UUIDcatc' (add (toInt (moment unixtimestamp format="x")) (getVar 'UUIDcounter'))}}
{{else}}
    {{assignVar 'UUIDcounter' 1}}
    {{assignVar 'UUIDcatc' (toInt (moment unixtimestamp format="x"))}}
{{/if}}

{{inject "UUIDcatc" (getVar 'UUIDcounter')}}

{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<style>
.grid {
 /* background: #DDD; */
  display: none;
  max-width: 1200px;
  width: 1200px;
  gap: 50px;
  place-items: center;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.product {
  float: center;
  width: 25%;
  min-width: 280px;
  height: 450px;
  padding-bottom: 20px;
  padding-right: 20px;

}
.flex-div-section {
  display: flex;
  justify-content: flex-start
}

.filter--section{
    width: 300px;
    margin-right: 25px;
}

#product-listing-all{
    margin-left: 35px;
}


/***************************************************************************/

.lds-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #3498db;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3498db transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


</style>
{{category.id}}
<div class="page">
    <div class="container category-heading__container">
        {{#unless theme_settings.hide_category_page_heading }}
            <h1 class="page-heading">{{category.name}}</h1>
            <!--{{{region name="category_below_header"}}}-->
        {{/unless}}
    </div>

    {{#if category.subcategories}}
    <section class="categoryGrid container">
        <ul class="categoryGrid_list">
            {{#each category.subcategories}}
            <li class="categoryGrid_list-items">
                <div class="card-wrapper">
                    <article class="card">
                        <figure class="card-figure">
                            <a href="{{url}}" class="card-figure__link">
                                <div class="card-img-container" {{#if theme_settings.its.image_swap_on_hover}} data-image-swap-src="{{#each images}}{{#if @index '===' 1}}{{getImage data 'productgallery_size'}}{{/if}}{{/each}}"{{/if}}>
                                    {{> components/common/responsive-img
                                        image=image
                                        class="card-image"
                                        fallback_size=theme_settings.productgallery_size
                                        lazyload=theme_settings.lazyload_mode
                                        default_image=theme_settings.default_image_product
                                    }}
                                </div>
                            </a>
                        </figure>
                        <div class="card-body"> 
                            <h3 class="card-title">
                                <a href="{{url}}">
                                    {{name}}
                                </a>
                            </h3>                    
                        </div>
                    </article>
                </div>
            </li>
            {{/each}}
        </ul>
    </section>
    {{/if}}

    {{#if theme_settings.its.category_subcat_cards}}
        {{> components/custom/subcat-grid}}
    {{/if}}
    
    {{!-- temp
    <section class="container" id="product-listing-container">
        {{> components/category/product-listing}}
    </section>
    --}}
    
    <!--ALL PRODUCT-->  
    
    <section id="product-listing-all">
        <h2>All Product</h2>
        <div class="flex-div-section">
            <div class="actionBar filter--section" >
                <fieldset class="form-fieldset actionBar-section" >
                    <div class="form-field" align="left">
                        <label class="form-label" for="sort">{{lang 'common.sorter.sort_by'}}</label>
                        <select class="form-select form-select--small " name="sort" id="all-sort-select" role="listbox">
                            <!--<option value="">Select one...</option>
                            <option value="featured" {{#if sort '==' 'featured'}}selected{{/if}}>{{lang 'common.sorter.featured'}}</option>-->
                            <option value="best_selling-desc" {{#if sort '==' 'bestselling'}}selected{{/if}}>{{lang 'common.sorter.top_sellers'}}</option>
                            <option value="newest-asc" {{#if sort '==' 'newest'}}selected{{/if}}>{{lang 'common.sorter.newest'}}</option>
                            
                            <option value="name-asc" {{#if sort '==' 'alphaasc'}}selected{{/if}}>{{lang 'common.sorter.alpha_asc'}}</option>
                            <option value="name-desc" {{#if sort '==' 'alphadesc'}}selected{{/if}}>{{lang 'common.sorter.alpha_desc'}}</option>
                            <option value="review-desc" {{#if sort '==' 'avgcustomerreview'}}selected{{/if}}>{{lang 'common.sorter.reviews'}}</option>
                            <option value="price-asc" {{#if sort '==' 'priceasc'}}selected{{/if}}>{{lang 'common.sorter.price_asc'}}</option>
                            <option value="price-desc" {{#if sort '==' 'pricedesc'}}selected{{/if}}>{{lang 'common.sorter.price_desc'}}</option>
                            {{#if result_count}}
                                <option value="relevance" {{#if sort '==' 'relevance'}}selected{{/if}}>{{lang 'common.sorter.relevance'}}</option>
                            {{/if}}
                        </select>
                        <br>
                        <label class="form-label" for="sort">Filter by:</label>
                        <br>
                        <input type="checkbox" id="featured-checkbox" name="featured" checkbox-filter-all><label class="form-label" for="featured">{{lang 'common.sorter.featured'}}</label>
                        <br>
                        
                        {{#each categories}}
                                <input type="checkbox" filter-value="{{id}}" checkbox-filter-all name="filter-all"><label class="form-label" for="filter-all">{{name}}</label>
                                <br>
                        {{/each}}
                    </div>
                </fieldset>
            </div>
            <div class="lds-block">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="grid" id="grid-all-product">
            </div>
        </div>

    </section>

    {{#if banners.bottom}}
        {{#if settings.data_tag_enabled}}
            <div class="banners" data-banner-location="bottom">
                {{#each (limit banners.bottom_metadata 1)}}
                    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                        <div data-event-type="promotion-click">
                            {{{this.content}}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div class="banners bg-paint-splatter" data-banner-location="bottom">
                <div class="banner">
                    {{{limit banners.bottom 1}}}
                </div>
            </div>
        {{/if}}
    {{/if}}

    {{#if category.description}}
    <div class="template-background">
        <div class="container">
            {{{category.description}}}
        </div>
    </div>
    {{/if}}

    {{!-- {{#if category.products}}
        <div class="container product-carousel__container">
            <div class="product-carousel__header">
                <h2 class="page-heading h1">{{lang 'products.featured' }}</h2>
                {{#unless page_type '===' 'category'}} <a href="{{lang 'products.featured_sublink_url' }}"
                    class="product-carousel__sublink">{{{lang 'products.featured_sublink' }}}</a>{{/unless}}
            </div>
        {{{region name="category_below_description"}}}
        </div>
    {{/if}} --}}
    {{{region name="category_below_content"}}}

    <!-- ITS LOADING OVERLAY -->
    <div class="loadingOverlay loadingOverlay--product-listing"></div>
</div>



{{/partial}}
{{> layout/base container_active=false}}

{{!--
{{#each categories}}
    {{id}}<br>
    {{#each children}}
    &emsp;{{id}}<br>
            {{#each children}}
                &emsp;&emsp;{{id}}
            {{/each}}<br>

    {{/each}}

{{/each}}
--}}

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
    window.loadScript("https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")
    let grid;
    
    if (document.readyState === "complete") {
    // Document already fully loaded
    ready();
    } else {
        // Add event listener for DOMContentLoaded (fires when document is fully loaded)
        document.addEventListener("DOMContentLoaded", ready);
    }
    
    function ready() {
        
        // Handler here
        console.log("ready")
        grid = new Isotope( '#grid-block', {
            itemSelector: '.product',
            layoutMode: 'fitRows'
            
            
        });
    }
    
    

</script>

-->
