#consent-manager-update-banner {
    background-color: $color-black !important;
}
.css-10z1g2q { 
    background-color: $color-black !important;
    .css-ra9y5f {
        p {
            color: $color-white;
        }
    }

}
