{{#if category.products}}
    {{> components/custom/category-view-toggle type='grid'}}
    <a class="category__compare-link" href="{{urls.compare}}" data-compare-nav
        aria-label="{{lang 'common.compare'}}">
        {{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span>
    </a>
    {{> components/products/filter sort=pagination.category.sort}}

    <form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}} data-product-compare>
            {{#if settings.data_tag_enabled}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
    </form>

    {{> components/common/paginator
        pagination.category
        page_type=page_type
        show_dropdown=theme_settings.its.paginator_dropdown
        paginator_dropdown_page_count=(ceil (divide category.total_products theme_settings.categorypage_products_per_page))
    }}
{{else}}
    <span role="text" tabindex="0" class="category__no-products">{{lang 'categories.no_products'}}</span>
{{/if}}
