<li class="fbt__image-item isChecked" data-product-id="{{product.id}}">
  <a class="fbt__image-link" href="{{product.url}}">
    {{#if is_ajax}}
      <img class="fbt__image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage product.main_image 'gallery_size' (cdn theme_settings.default_image_product)}}" alt="{{product.image.alt}}" title="{{product.image.alt}}">
    {{else}}
      <img class="fbt__image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage product.image 'gallery_size' (cdn theme_settings.default_image_product)}}" alt="{{product.image.alt}}" title="{{product.image.alt}}">
    {{/if}}
  </a>
</li>
