<div class="pdp-template">
    <section class="pdp-template__section-1">
        <div class="pdp-template__content">
            <h2>Overview</h2>
            <p>LEVEL5 Drywall Skimming Blade Sets add that extra edge to your finishing tool arsenal. This 10/24/36" set configuration is an all-in-one drywall skimming tool set ideal for smoothing and finishing fresh compound on walls and ceilings.</p>
            <ul>
                <li>This drywall skimming blade set includes all the tools you need to skim coat walls and ceilings.</li>
                <li>Get fast and professional results when smoothing & finishing fresh compound on surfaces.</li>
                <li>Quickly and easily apply a skim coat of joint compound after scraping popcorn ceilings.</li>
                <li>The versatile extendable skimming blade handle provides just the right amount of additional reach.</li>
                <li>Use the 10" skimming blade to wipe down fresh drywall tape on flat and butt joints.</li>
            </ul>
        </div>
        <div class="pdp-template__image">
            <img src="/content/description-images/5-441-1.png" alt="...">
        </div>
    </section>
    <section class="pdp-template__section-2">
        <div class="pdp-template__content">
            <h2>Tool Set Contents</h2>
            <ul class="pdp-template__set-items">
                <li>
                    <div class="pdp-template__set-item-image">
                        <img src="/content/set-item-images/4-910.png" alt="...">
                    </div>
                    <div>
                        <p class="pdp-template__set-item-type">
                            Skimming Blade
                        </p>
                        <h3>
                            <a class="pdp-template__set-item-title" href="/skimming-blades">
                                Level5 10" Drywallskimming Blade
                            </a>
                        </h3>
                        <p class="pdp-template__set-item-sku">
                            SKU: 4-910
                        </p>
                    </div>
                </li>
                <li>
                    <div class="pdp-template__set-item-image">
                        <img src="/content/set-item-images/4-911.png" alt="...">
                    </div>
                    <div>
                        <p class="pdp-template__set-item-type">
                            Skimming Blade
                        </p>
                        <h3>
                            <a class="pdp-template__set-item-title" href="/skimming-blades">
                                Level5 24” Drywallskimming Blade
                            </a>
                        </h3>
                        <p class="pdp-template__set-item-sku">
                            SKU: 4-911
                        </p>
                    </div>
                </li>
                <li>
                    <div class="pdp-template__set-item-image">
                        <img src="/content/set-item-images/4-912.png" alt="...">
                    </div>
                    <div>
                        <p class="pdp-template__set-item-type">
                            Skimming Blade
                        </p>
                        <h3>
                            <a class="pdp-template__set-item-title" href="/skimming-blades">
                                Level5 32” Drywallskimming Blade
                            </a>
                        </h3>
                        <p class="pdp-template__set-item-sku">
                            SKU: 4-912
                        </p>
                    </div>
                </li>
                <li>
                    <div class="pdp-template__set-item-image">
                        <img src="/content/set-item-images/4-913.png" alt="...">
                    </div>
                    <div>
                        <p class="pdp-template__set-item-type">
                            Skimming Blade Adapter
                        </p>
                        <h3>
                            <a class="pdp-template__set-item-title" href="/skimming-blade-adapter">
                                Level5 10” Drywallskimming Blade
                            </a>
                        </h3>
                        <p class="pdp-template__set-item-sku">
                            SKU: 4-913
                        </p>
                    </div>
                </li>
                <li>
                    <div class="pdp-template__set-item-image">
                        <img src="{{cdn 'webdav:/thumbs/4-910.jpg'}}" alt="...">
                    </div>
                    <div>
                        <p class="pdp-template__set-item-type">
                            Skimming Blade Adapter
                        </p>
                        <h3>
                            <a class="pdp-template__set-item-title" href="/skimming-blade-adapter">
                                Level5 10” Drywallskimming Blade
                            </a>
                        </h3>
                        <p class="pdp-template__set-item-sku">
                            SKU: 4-913
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pdp-template__image">
            <img src="/content/description-images/5-441-2.png" alt="...">
        </div>
    </section>
    <section class="pdp-template__section-3">
        <div class="pdp-template__content">
            <h2>Overview</h2>
            <p>LEVEL5 Drywall Skimming Blade Sets add that extra edge to your finishing tool arsenal. This 10/24/36" set configuration is an all-in-one drywall skimming tool set ideal for smoothing and finishing fresh compound on walls and ceilings.</p>
            <ul>
                <li>This drywall skimming blade set includes all the tools you need to skim coat walls and ceilings.</li>
                <li>Get fast and professional results when smoothing & finishing fresh compound on surfaces.</li>
                <li>Quickly and easily apply a skim coat of joint compound after scraping popcorn ceilings.</li>
                <li>The versatile extendable skimming blade handle provides just the right amount of additional reach.</li>
                <li>Use the 10" skimming blade to wipe down fresh drywall tape on flat and butt joints.</li>
            </ul>
        </div>
        <div class="pdp-template__image">
            <img src="/content/description-images/5-441-1.png" alt="...">
        </div>
    </section>    
</div>
