<a href="#slideCart" class="navUser-action slide-cart-open">
    <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>
    <span class="countPill cart-quantity"></span>
</a>

<div id="slideCart" class="slide-cart-container">
    <button class="slide-cart-close modal-close" type="button" title="{{lang 'common.close'}}">
        <span class="aria-description--hidden">{{lang 'common.close'}}</span>
        <span aria-hidden="true">&#215;</span>
    </button>
    <div class="slide-cart"></div>
</div>
