{{assignVar 'key' partial}}

<section class="blog-sidebar__block bg-paint-splatter">
    <a href="##"
        data-collapsible="{{getVar 'key'}}"
        data-collapsible-disabled-breakpoint="large"
        data-collapsible-disabled-state="open"
        data-collapsible-enabled-state="closed">
        <h2 class="blog-sidebar__header h2">
            JOIN THE L5 VIP PROGRAM
        </h2>
        <p class="blog-sidebar__header h3">GAIN ACCESS TO EXCLUSIVE DISCOUNTS AND SPECIAL OFFERS</p>
    </a>
    <div class="blog-sidebar__content" id="{{getVar 'key'}}">
        {{{dynamicComponent 'components/custom/blog'}}}
    </div>
</section>
