<article class="blog-post">
    <div class="blog-post__image" style='background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url("{{getImage post.thumbnail}}");'>
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <header class="blog-post__header">
            <h1 class="blog-post__title">{{post.title}}</h1>
            <p class="blog-post__date">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} | {{/if}}{{moment post.date_published "MMMM DD, YYYY"}}</p>
        </header>
         {{!--<!-- <div class="blog-post__figure">
            {{!#if post.thumbnail}}
                <figure class="blog-post__thumbnail">
                    <a href="{{post.url}}">
                        {{> components/common/responsive-img
                            image=post.thumbnail
                            fallback_size=theme_settings.blog_size
                            lazyload=theme_settings.lazyload_mode
                        }}
                    </a>
                </figure>
            {{!/if}}
        </div>  -->--}}
    </div>
    <div class="blog-post__body container">
        <div class="blog-post__content">
            {{{post.body}}}
        </div>

        {{#if show_tags}}
            {{#if post.tags}}
                <!-- <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a href="{{url}}">#{{name}}</a>
                    </li>
                    {{/each}}
                </ul> -->
            {{/if}}
        {{/if}}

        {{! >components/common/share url=post.url}}
    </div>
</article>
