@mixin container {
    $cPaddingLeftRight_M: 1rem;
    $cPaddingLeftRight_D: 1.5rem;

    // calc ensures that $max-width is always the correct width; without it, we loose x.rem of content space due to padding.
    max-width: calc(#{$max-width} + #{$cPaddingLeftRight_M} * 2);
    margin: 0 auto;
    padding: 0 $cPaddingLeftRight_M;
    position: static;
    @include breakpoint('medium') {
        max-width: calc(#{$max-width} + #{$cPaddingLeftRight_D} * 2);
        padding: 0 $cPaddingLeftRight_D;
    }
}
