<div>
    <ul class="pdp__sku-upc">
        {{log product.sku}}
        {{#if product.sku}}<li>SKU: <span data-product-sku>{{product.sku}}</span></li>{{/if}}
        {{#if product.upc}}<li>UPC: {{product.upc}}</li>{{/if}}
    </ul>
    <div class="more-info-slider"
        data-slick='{
            "infinite": true,
            "mobileFirst": true,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "slide": "[data-pdp-info-slide]",
            "fade": true,
            "autoplay": true,
            "autoplaySpeed": 5000,
            "dots": false,
            "arrows": false
        }'
    >

        {{#for 1 (lang 'custom.product.rotating-banner.items')}}
            <div data-pdp-info-slide class="slick-slide">
                {{#filter ../product.custom_fields '__rb-warranty-term' property='name'}}
                    <p class="more-info-slider__text">
                        {{{lang (concat 'custom.product.rotating-banner.item-' ../$index) warranty-term=value}}}
                    </p>
                {{else}}
                    <p class="more-info-slider__text">
                        {{{lang (concat 'custom.product.rotating-banner.item-' $index) warranty-term='1-Year'}}}
                    </p>
                {{/filter}}
            </div>
        {{/for}}

    </div>
    <div class="more-info-contact">
        <p>Want to order directly? Have questions?</p>
        <p>Call us at <a href="tel:+8002277713">800.227.7713</a></p>
    </div>
</div>
