// =============================================================================
// IntuitSolutions.net - Login from Anywhere
// =============================================================================
.modal--popupLoginWindow {
	margin: 0;
}

.modal--popupLoginWindow .alertBox {
	display: none;
}

.modal--popupLoginWindow .forgot-password {
	display: block;
    margin-top: 12px !important;
}
