// =============================================================================
// SCREEN SIZES
// =============================================================================
//
// 1. Remember to update /assets/js/theme/common/media-query-list.js
//    if you decide to change breakpoint values
//
// -----------------------------------------------------------------------------

// Screen sizes
// -----------------------------------------------------------------------------


$screen-xlarge:                 1441px;
$screen-large:                  1281px;
$screen-medium:                 1025px;
$screen-small:                  769px;
$screen-xsmall:                 481px;
